<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="about-content">
                            <h1><span>I'm</span> Tertuliano Silva</h1>
                            <h4>Data Scientist/ </h4>
                            <p>I’m a junior Data Scientist, with a background in Robotics and Mechatronics Engineering.
I believe that Data Science is the missing link that allows an engineer to apply and bridge it's hard physical skills into the digital world, to solve complex problems and deliver positive outcomes. </p>
                            <p>As a Data Scientist, I use insights from data to create and formulate Machine Learning algorithms that focus on solving the problems and enhancing performance for businesses, such as but not limited to, reducing inefficiencies, predicting trends and costumer behaviour, competitor research, testing of business initiatives, developing market undertanding, etc.</p>
                            <p>To Conclude, I use my visual communication and data presentation skills to present the road-map solution to your problem in Layman's terms, making it accessible for anyone to read, digest and implement. 
                         </p>
                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <li class="list-inline-item"><a href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                   <!-- <li class="list-inline-item"><a href="{{site.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li> -->
                                </ul>
                                <a href="/assets/pdfs/Tertuliano Silva CV - UK.pdf" class="home-cv-btn btn btn-link float-right">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-img">
                   
                            <img class="img-fluid" src="{{'/assets/images/author.png' | relative_url}}" alt="author" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About  -->